* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    flex-direction: column;
}

.title {
    width: 700px;
    text-align: center;
}

.title h1 {
    padding: 20px;
}

.title p {
    padding-bottom: 20px;
}

#container {
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 20px;
    background-color: white;
    text-align: center;

    width: calc(100% / 3 - 120px);
}


.photo {
    width: 100%;
}